<div class="row font1" >
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Imagenes/html.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="800">
        </circle-progress>
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Imagenes/CSS.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'blue'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress><circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Imagenes/js.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'yellow'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Imagenes/git.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Imagenes/CorelDraw.png'"
        [showImage]="true"
        [imageHeight]="85"
        [imageWidth]="85"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'green'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Imagenes/ps.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'lightblue'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Imagenes/Angular.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'red'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Imagenes/ts.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'blue'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Imagenes/Bootstrap-Logo.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'purple'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
         <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Imagenes/spring-boot.png'" class= "circulo"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'green'"
        [animation]="true"
        [animationDuration]="300">
        </circle-progress>
    </div>
</div>