<div class="row">
    <div class="containers">
        <div class="logo">
            <img src="../../../assets/Imagenes/LogoAPYP.png" id="logo-arg-prog">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/Imagenes/LogoFBRBlanco.png" id="Facebook"></a>
                <a href=""> <img src="../../../assets/Imagenes/LogotipoGithubBlanco.png" id="GitHub"></a>
                <button type="button" class="btn btn-outline-light font1">INGRESAR</button>
            </div>
        </div>
    </div>
</div>

 
