<div class="row font1">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Imagenes/FotoCV.png" id="fotoPerfil"
        class="circulo img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Vesna Vasquez Acuña</p>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 font1">
        <span>
            <h1>Acerca de mi</h1>
            <p>Mi nombre es Vesna, soy estudiante de Desarrollo Web Full Stack Jr de Argentina Programa, 4ta edición.
                Me considero una persona responsable, aplicada, perseverante y creativa.
                Me gusta adquirir conocimientos nuevos.
            </p>
        </span>
    </div>
</div>

