.row{
    padding: 50px;
    background-color: rgb(45, 3, 52);
}
.contenedor{
    width: auto;
    
}
.parte1, .parte2{
    display: inline-block;
    text-align: center;
}
.foto-portfolio{
   
    border-radius: 18px;
    box-shadow: 15px 15px 30px black;
}
.foto-portfolio img{
    width: 30%;
    height: 20px;
}
